@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;700&display=swap');
:root{

    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color: #efbb20;
    --navbar-color:#2c353d;
    
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    transition:all .2s linear;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;

}
html{
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    width: 320px;
    height: 414px;
    padding: 0;
    margin: 0;
}
/*start editting here*/
.content{
    position: relative;
    height: 100px;
    width: 100%;
}
.background-image{
    object-fit: cover;
    object-position: center;
    width: 320px;
    height: 800px;
}
.left-section{
    position: absolute;
    top: 40px;
    left: 0%;
    height: 300px;
    width: 360px;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}
.grid-upper-section{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: .4fr 3.5fr;
    align-items: center;
}
.grid-middle-section{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: .4fr 3.5fr;
    align-items: center;
    margin-top: 10px;
}
.grid-lower-section{
    bottom: 0;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: .4fr 3.5fr;
    align-items: center;
    margin-top: 40px;
   
}
.icon-box{

    height: 60%;
    width: 100%;
}
.location-icon{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 13px;
    margin-top: 10%;
    margin-left: 10%;
    height: 26px;
}
.phone-icon{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 13px;
    margin-top: 40%;
    margin-left: 10%;
    height: 26px;
}
.mail-icon{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 13px;
    background-color: white;
    margin-top: 10%;
    margin-left: 10%;
    height: 26px;
}
.text-box{
    width: 100%;
    margin-right: 100px;
}
.text-box h2{
    color: white;
    font-size: 1.8rem;
}
.text-box p{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}
.text-box a{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}
.right-section{
    position: absolute;
    height: 300px;
    width: 335px;
    bottom: -1;
    right: 0;
    margin-top: 330px;
    margin-right: 10px;
}
.maps{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 375px) {
    body{
        width: 375px;
        height: auto;
        padding: 0;
        margin: 0;
    }
    /*start editting here*/
    .background-image{
        width: 375px;
        height: 770px;
        object-fit: cover;
    }
    .left-section{
        position: absolute;
        top: 40px;
        left: 2.5%;
        height: 300px;
        width: 360px;
    }
    .grid-upper-section{
        height: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: .4fr 3.5fr;
        align-items: center;
    }
    .grid-middle-section{
        height: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: .4fr 3.5fr;
        align-items: center;
        margin-top: 10px;
    }
    .grid-lower-section{
        bottom: 0;
        height: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: .4fr 3.5fr;
        align-items: center;
        margin-top: 6px;
       
    }
    .icon-box{
        height: 60%;
        width: 100%;
    }
    .location-icon{
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 13px;
        margin-top: 10%;
        margin-left: 10%;
        height: 26px;
    }
    .phone-icon{
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 13px;
        margin-top: 40%;
        margin-left: 10%;
        height: 26px;
    }
    .mail-icon{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 13px;
        background-color: white;
        margin-top: 25%;
        margin-left: 10%;
        height: 26px;
    }
    .right-section{
        position: absolute;
        height: 300px;
        width: 335px;
        right: 0;
        left: 20px;
        bottom: 800px;
    }
    .text-box p{
        color: white;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 3px;
    }
    .text-box a{
        color: white;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 3px;
    }
}
@media only screen and (min-width: 425px) {
    body{
        background-image: url("contact-background2.jpeg");
        width: 425px;
        height: 414px;
        padding: 0;
        margin: 0;
    }
    /*start editting here*/
    .content{
        position: relative;
        height: 100px;
        width: 100%;
       
    }
    .background-image{
        display: none;
        object-fit: cover;
      
    }
    .left-section{
        position: absolute;
        top: 40px;
        left: 10%;
        height: 300px;
        width: 360px;
    }
    .grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    .grid-upper-section{
        height: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: .4fr 2.5fr;
        align-items: center;
    }
    .grid-middle-section{
        height: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: .4fr 2.5fr;
        align-items: center;
        margin-top: 10px;
    }
    .grid-lower-section{
        bottom: 0;
        height: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: .4fr 2.5fr;
        align-items: center;
        margin-top: 20px;
       
    }
    .icon-box{
        height: 60%;
        width: 100%;
    }
    .location-icon{
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 13px;
        margin-top: 10%;
        margin-left: 10%;
        height: 26px;
    }
    .phone-icon{
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 13px;
        margin-top: 30%;
        margin-left: 10%;
        height: 26px;
    }
    .mail-icon{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 13px;
        background-color: white;
        margin-top: 15%;
        margin-left: 10%;
        height: 26px;
    }
    .right-section{
        position: absolute;
        height: 300px;
        width: 335px;
        top: 0;
        right: 0;
        left: 45px;
    }
}
@media only screen and (min-width: 768px) {
    body{
        height: 768px;
    }
    .header{
        width: 768px;
    }
    .content{
        height: 1000px;
        width: 150px;
        background-repeat: no-repeat;
    }
    .background-image{
        height: 100px;
        width: 100px;
    }
    .left-section{
        top: 5%;
        left: 60%;
        height: 300px;
        width:580px;
    }
    .grid-upper-section{
        height: 100px;
    }
    .grid-middle-section{
        height: 100px;
    }
    .grid-lower-section{
        height: 100px;
    }
    .location-icon{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 25px;
        margin-top: 15%;
        margin-left: 15%;
        height: 60px;
    }
    .phone-icon{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 25px;
        margin-top: 15%;
        margin-left: 15%;
        height: 60px;
    }
    .mail-icon{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 25px;
        margin-top: 15%;
        margin-left: 15%;
        height: 60px;
    }
    .text-box h2{
        font-size: 2.5rem;
    }
    .text-box p{
        font-size: 1.7rem;
    }
    .text-box a{
        font-size: 1.7rem;
    }
    .right-section{
        height: 550px;
        width: 550px;
        left: 65%;
        top: 10%;
    }
}
@media only screen and (min-width: 992px) {
    .header{
        width: 992px;
    }
    .content{
        height: 1200px;
        width: 110%;
    }
    .background-image{
        height: 100%;
    }
    .left-section{
        top: 220px;
        left: 5%;
        height: 300px;
        width:580px;
    }
    .grid-upper-section{
        height: 100px;
    }
    .grid-middle-section{
        height: 100px;
    }
    .grid-lower-section{
        height: 100px;
    }
    .location-icon{
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 25px;
        margin-top: 20%;
        margin-left: 20%;
        height: 50px;
    }
    .phone-icon{
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 25px;
        margin-top: 20%;
        margin-left: 20%;
        height: 50px;
    }
    .mail-icon{
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 25px;
        margin-top: 20%;
        margin-left: 20%;
        height: 50px;
    }
    .text-box h2{
        font-size: 2rem;
    }
    .text-box p{
        font-size: 1.5rem;
    }
    .text-box a{
        font-size: 1.5rem;
    }
    .right-section{
        height: 400px;
        width: 400px;
        top: -10%;
        left: 115%;
    }
}

@media only screen and (min-width: 1200px) {
    body{
        height: 1200px;
    }
    .header{
        width: 1200px;
    }
    .left-section{
        top: 280px;
        left: 5%;
        height: 300px;
        width: 650px;
    }
    .grid-upper-section{
        height: 100px;
    }
    .grid-middle-section{
        height: 100px;
    }
    .grid-lower-section{
        height: 100px;
    }
    .location-icon{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        margin-top: 20%;
        margin-left: 20%;
        height: 50px;
    }
    .phone-icon{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        margin-top: 20%;
        margin-left: 20%;
        height: 50px;
    }
    .mail-icon{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        margin-top: 20%;
        margin-left: 20%;
        height: 50px;
    }
    .text-box h2{
        font-size: 2.3rem;
    }
    .text-box p{
        font-size: 1.8rem;
    }
    .text-box a{
        font-size: 1.8rem;
    }
    .right-section{
        height: 450px;
        width: 500px;
        top: -8%;
        left: 135%;
    }
}
@media only screen and (min-width: 1440px) {
    .header{
        width: 1440px;
    }
    .left-section{
        top: 20%;
        left: 20%;
        height: 300px;
        width: 650px;
    }
    .grid-upper-section{
        height: 100px;
        width: 700px;
    }
    .grid-middle-section{
        height: 100px;
        width: 700px;
    }
    .grid-lower-section{
        height: 100px;
        width: 700px;
    }
    .location-icon{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        margin-top: 5%;
        margin-left: 20%;
        height: 60px;
    }
    .phone-icon{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        margin-top: 4%;
        margin-left: 20%;
        height: 60px;
    }
    .mail-icon{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        margin-top: 3%;
        margin-left: 20%;
        height: 60px;
    }
    .text-box h2{
        font-size: 3rem;
    }
    .text-box p{
        font-size: 2.2rem;
    }
    .text-box a{
        font-size: 2.2rem;
    }
    .right-section{
        height: 450px;
        width: 500px;
        top: -11%;
        left: 175%;
    }
    
}
@media only screen and (min-width: 1629px) {
    body{
        height: 1000px;
    }
    .header{
        width: 1629px;
    }
    .left-section{
        top: 300px;
        left: 22%;
        height: 350px;
        width: 700px;
    }
    .grid-upper-section{
        height: 120px;
    }
    .grid-middle-section{
        height: 120px;
    }
    .grid-lower-section{
        height: 120px;
    }
    .location-icon{
        margin-top: 25%;
        margin-left: 25%;
    }
    .phone-icon{
        margin-top: 25%;
        margin-left: 25%;
    }
    .mail-icon{
        margin-top: 25%;
        margin-left: 25%;
    }
    .right-section{
        height: 480px;
        width: 550px;
        left: 190%;
        top: -5%;
       
    }
}
@media only screen and (min-width: 1900px
) {
    body{
        height: 100px;
    }
    .header{
        width: 2110px;
    }
    .left-section{
        top: 25%;
        left: 60%;
        height: 350px;
        width: 700px;
    }
    .grid-upper-section{
        height: 120px;
    }
    .grid-middle-section{
        height: 120px;
    }
    .grid-lower-section{
        height: 120px;
    }
    .location-icon{
        margin-top: 10%;
        margin-left: 25%;
    }
    .phone-icon{
        margin-top: 10%;
        margin-left: 25%;
    }
    .mail-icon{
        margin-top: 10%;
        margin-left: 25%;
    }
    .right-section{
        height: 480px;
        width: 550px;
        left: 230%;
        top: -5%;
    }
}