:root{

    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color: #efbb20;
    --navbar-color:#2c353d;
    
}
.footer{
    background-color: var(--heading-color);
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100vw;
    height: 21rem;
}
.footer-grid{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.footer h2{
    padding-bottom: 2px;
    font-size: 1.6rem;
    color: white;
}
.footer p{
    padding-bottom: 2px;
    font-size: 1.2rem;
    color: white;
}
.footer a{
    padding-bottom: 2px;
    font-size: 1.2rem;
    color: white;
}

@media only screen and (min-width: 373.02px) and (max-width: 766.02px){
    .footer-grid{
        padding-top: 3%;
    }
    .footer h2{
        font-size: 1.8rem;
    }
    .footer p{
        font-size: 1.25rem;
    }
    .footer a{
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 767.02px) and (max-width: 1023.02px){
    .footer-grid{
        align-items: normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .footer h2{
        font-size: 2rem;
    }
    .footer p{
        font-size: 1.57rem;
    }
    .footer a{
        font-size: 1.57rem;
    }
}
@media only screen and (min-width: 1023.02px) and (max-width: 1438.02px){
    .footer-grid{
        padding-left: 0%;
        align-items: normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .footer h2{
        font-size: 2.3rem;
    }
    .footer p{
        font-size: 1.67rem;
    }
    .footer a{
        font-size: 1.67rem;
    }
}
@media only screen and (min-width: 1439.02px) and (max-width: 2558.02px){
    .footer{
        height: 24rem;
    }
    .footer-grid{
        padding-left: 0%;
        align-items: normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .footer h2{
        font-size: 2.6rem;
    }
    .footer p{
        font-size: 2.15rem;
    }
    .footer a{
        font-size: 2.15rem;
    }
}
@media only screen and (min-width: 2559.02px){
    .footer{
        padding-top: 1.5%;
        padding-bottom: 9%;
        height: 24rem;
    }
    .footer-grid{
        padding-left: 10%;
        align-items: normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 7%; 
    }
    .footer h2{
        font-size: 3.4rem;
    }
    .footer p{
        font-size: 2.55rem;
    }
    .footer a{
        font-size: 2.55rem;
    }
}