@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;700&display=swap');
:root{

    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color: #efbb20;
    --navbar-color:#2c353d;
    
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    transition:all .2s linear;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;

}
html{
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    height: auto;
    padding: 0;
    margin: 0;
}
.heading-div{
    display: flex;
    justify-content: center;
    margin: 2% 0% 2% 0%;
}
.content-flex{
    display: flex;
    gap: 3% 3.9%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    padding: 5% 2% 2% 2%;
    height: 118vh;
}
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 14rem;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    border: 1px solid rgb(121, 121, 121); 
}
.inner-images{
    margin: 1%;
}
.service-name-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.service-name{
    font-size: 1.24rem;
    font-weight: 700;
}
#drain-rebar-p{
    padding: 0% 0% 0% 15%;
}
#metal-tiles-p{
    padding: 0% 0% 0% 15%;
}
@media only screen and (max-height: 764.02px){
    .content-flex{
        display: flex;
        gap: 3% 3.9%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 5% 2% 600px 2%;
        height: 118vh;
    }
}
@media only screen and (max-height: 670.02px){
    .content-flex{
        display: flex;
        gap: 3% 3.9%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 5% 2% 800px 2%;
        height: 118vh;
    }
}
@media only screen and (min-width:374.02px) and (max-width: 766.02px){
    .content-flex{
        display: flex;
        gap: 2% 3.9%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 5% 2% 2% 2%;
        height: 135vh;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        height: 18rem;
        width: 17rem;
        border-radius: 10px;
        padding: 2% 2% 2% 2%;
        border: 1px solid rgb(121, 121, 121); 
    }
    .service-name-div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .service-image{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .service-name{
        font-size: 1.34rem;
        font-weight: 700;
    }
    #drain-rebar-p{
        padding: 0% 0% 0% 18%;
    }
    #metal-tiles-p{
        padding: 0% 0% 0% 15%;
    }
    @media only screen and (max-height: 764.02px){
        .content-flex{
            display: flex;
            gap: 3% 3.9%;
            flex-wrap: wrap;
            justify-content: center;
            align-content: baseline;
            padding: 5% 2% 1000px 2%;
            height: 118vh;
        }
    }
    @media only screen and (max-height: 670.02px){
        .content-flex{
            display: flex;
            gap: 3% 3.9%;
            flex-wrap: wrap;
            justify-content: center;
            align-content: baseline;
            padding: 5% 2% 1000px 2%;
            height: 118vh;
        }
    }
}
@media only screen and (min-width:767.02px) and (max-width: 1022.02px){
    .heading-div{
        display: flex;
        justify-content: center;
        margin: 3% 0% 0% 0%;
        font-size: 1.2rem;
    }
    .content-flex{
        display: flex;
        gap: 2% 2%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 5% 2% 2% 2%;
        height: 135vh;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        height: 22rem;
        width: 23rem;
        border-radius: 10px;
        padding: 5% 1% 5% 1%;
        border: 1px solid rgb(121, 121, 121); 
    }
    .service-name-div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .service-image{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .service-name{
        font-size: 1.54rem;
        font-weight: 700;
    }
    #drain-rebar-p{
        padding: 0% 0% 0% 0%;
    }
    #metal-tiles-p{
        padding: 0% 0% 0% 20%;
    }
    @media only screen and (max-height: 754.02px){
        .content-flex{
            height: 1050px;
        }
    }
}
@media only screen and (min-width:1023.02px) and (max-width: 1438.02px){
    .heading-div{
        display: flex;
        justify-content: center;
        margin: 3% 0% 0% 0%;
        font-size: 1.4rem;
    }
    .content-flex{
        display: flex;
        gap: 2% 2%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 3% 2% 2% 2%;
        height: 100vh;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        height: 22rem;
        width: 23rem;
        border-radius: 10px;
        padding: 5% 1% 5% 1%;
        border: 1px solid rgb(121, 121, 121); 
    }
    .service-name-div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .service-image{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .service-name{
        font-size: 1.64rem;
        font-weight: 700;
    }
    #drain-rebar-p{
        padding: 0% 0% 0% 22%;
    }
    #metal-tiles-p{
        padding: 0% 0% 0% 20%;
    }
    @media only screen and (max-height: 754.02px){
        .content-flex{
            height: 800px
        }
    }
}
@media only screen and (min-width: 1439.02px) and (max-width: 1627.02px){
    .heading-div{
        display: flex;
        justify-content: center;
        margin: 3% 0% 0% 0%;
        font-size: 1.4rem;
    }
    .content-flex{
        display: flex;
        gap: 5% 2%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 2% 2% 2% 2%;
        height: 90vh;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        height: 25rem;
        width: 25rem;
        border-radius: 10px;
        padding: 4% 1% 4% 1%;
        border: 1px solid rgb(121, 121, 121); 
    }
    .service-name-div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .service-image{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .service-name{
        font-size: 1.74rem;
        font-weight: 700;
    }
    #drain-rebar-p{
        padding: 0% 0% 0% 0%;
    }
    #metal-tiles-p{
        padding: 0% 0% 0% 20%;
    }
    @media only screen and (max-height: 754.02px){
        .content-flex{
            height: 700px
        }
    }
}
@media only screen and (min-width: 1628.02px) and (max-width: 2558.02px){
    .heading-div{
        display: flex;
        justify-content: center;
        margin: 3% 0% 0% 0%;
        font-size: 1.4rem;
    }
    .content-flex{
        display: flex;
        gap: 5% 2%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 2% 2% 2% 2%;
        height: 90vh;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        height: 26rem;
        width: 28rem;
        border-radius: 10px;
        padding: 4% 1% 4% 1%;
        border: 1px solid rgb(121, 121, 121); 
    }
    .service-name-div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .service-image{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .service-name{
        font-size: 1.74rem;
        font-weight: 700;
    }
    #drain-rebar-p{
        padding: 0% 0% 0% 0%;
    }
    #metal-tiles-p{
        padding: 0% 0% 0% 20%;
    }
    @media only screen and (max-height: 754.02px){
        .content-flex{
            height: 700px
        }
    }
}
@media only screen and (min-width: 2559.02px){
    .heading-div{
        display: flex;
        justify-content: center;
        margin: 3% 0% 0% 0%;
        font-size: 2.4rem;
    }
    .content-flex{
        display: flex;
        gap: 5% 2%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        padding: 2% 2% 2% 2%;
        height: 90vh;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        height: 45rem;
        width: 45rem;
        border-radius: 20px;
        padding: 4% 1% 4% 1%;
        border: 1px solid rgb(121, 121, 121); 
    }
    .service-name-div{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .service-image{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .service-name{
        font-size: 2.85rem;
        font-weight: 700;
    }
    #drain-rebar-p{
        padding: 0% 0% 0% 0%;
    }
    #metal-tiles-p{
        padding: 0% 0% 0% 22%;
    }
    @media only screen and (max-height: 754.02px){
        .content-flex{
            height: 1100px
        }
    }
}