@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;700&display=swap');
:root{

    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color: #efbb20;
    --navbar-color:#2c353d;
    
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    transition:all .2s linear;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;

}
html{
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    height: 1500px;
    position: relative;
    min-height: 100%;
    padding-bottom: 6.74;
}
.header{
    position: absolute;
    background-color: var(--navbar-color);
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: space-between;
    justify-content: center;
    z-index: 1;
}

.header .logo img{
    margin-left: 65px;
    margin-right: 700px;
    display: flex;
    height: 100px;
    width: 120px;
    border-radius: 35px;
}
.navbuttons{
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}
.nav a{
    margin-left: 5px;
    margin-right: 5px;
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    position: relative;
}
.nav a:hover{
    color: var(--primar-color);
}
.nav a::after{
    content: "";
    background-color: var(--primar-color);
    width: 0;
    transition: 1s;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav a:hover::after{
    width: 100%;
}

.navbar.active{
    right: 0;
}
.our-services{
    position: absolute;
    width: 100%;
    height: 0%;
    transform: translate(-45%, -10%);
    top: 120px;
    left: 45%;
    padding: 2rem 7%;
   
}
.service-heading{
    text-align: center;
    padding: 2rem 0;
    align-items: center;
}
.service-heading h1{
    display: inline-block;
    color: var(--navbar-color);
    font-size: 30px;
    font-weight: 300;

}
.service-heading .hr{
    width: 15%;
    background-color: var(--primar-color);
    height: 2px;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.main-inner-services{
    display: flex;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
.inner-services{
    flex: 1 1 300px;
    padding: 1rem;
    border-radius: 10px;
    border: 10px solid var(--font-color);
    border: 1px solid black; 
  
}
.inner-services .services-images img{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.service-inner-content{
    padding: 2rem 1rem;
}
.service-inner-content h2{
    color: var(--heading-color);
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300;
}
.service-inner-content p{
    color: var(--font-color);
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 200;
}
.footer{
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: -100px;
    padding-top: 10px;
    position: absolute;
    padding: 4rem 7%;
    width: 100%;
    background-color: var(--navbar-color);
}
.main-footer{
    margin-left: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-inner-content{
    flex: 1 1 500x;
    padding: 1rem;
    padding-left: 10px;
    padding-right: 100px;
}
.footer-inner-content h2{
    color: white;
    font-size: 20px;  
    padding: 2rem 0;
}
.footer-inner-content p{
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.footer-inner-content a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.inner-projects{
   display: flex;
   align-items: center;
   gap: 1rem;
}
.inner-projects .project-image img{
    width: 35px;
    border: 2px solid var(--font-color);
}
.project-content-p{
    margin:0 !important;
}